<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layouts/navbar'); -%>
                <!-- Page content-->
                <section class="py-5">
                    <div class="container px-5">
                        <!-- Registration form-->
                        <div class="row">
                            <div class="col-md-12 bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                                <div class="text-center mb-5">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                            class="bi bi-person-square"></i></div>
                                    <h1 class="fw-bolder">Register User</h1>
                                    <p class="lead fw-normal text-muted mb-0">Log in to
                                        track your progress and prepare for your G test.
                                    </p>
                                </div>
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8 col-xl-6">
                                        <% if (typeof errorMessage !=="undefined" ) { %>
                                            <br>
                                            <div class="alert alert-danger" role="alert">
                                                <%= errorMessage %>
                                            </div>
                                            <% } %>
                                                <form id="registerForm" method="post" action="/userCollection"
                                                    enctype="application/x-www-form-urlencoded">
                                                    <!-- Name input-->
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="name" name="username"
                                                            type="text" placeholder="Enter your user name..."
                                                            required />
                                                        <label for="name">User name</label>
                                                    </div>
                                                    <!-- Phone number input-->
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="password" name="password"
                                                            type="password" placeholder="password" />
                                                        <label for="password">Password</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="cnfpassword" name="cnfpassword"
                                                            type="password" placeholder="confirm password" />
                                                        <label for="cnfpassword">Confirm Password</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <select class="form-control" id="utype" name="userType"
                                                            required>
                                                            <option value="">Select User Type...</option>
                                                            <option value="driver">Driver</option>
                                                            <option value="examiner">Examiner</option>
                                                            <option value="admin">Admin</option>
                                                        </select>
                                                        <label for="utype">User type</label>
                                                    </div>
                                                    <div class="d-grid"><button class="btn btn-primary btn-lg"
                                                            id="submitButton" type="submit">Login</button></div>
                                                </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Contact cards-->
                        <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
                            <div class="col">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-chat-dots"></i></div>
                                <div class="h5 mb-2">Chat with us</div>
                                <p class="text-muted mb-0">Chat live with one of our
                                    support specialists.</p>
                            </div>
                            <div class="col">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-people"></i></div>
                                <div class="h5">Ask the community</div>
                                <p class="text-muted mb-0">Explore our community
                                    forums and communicate with other users.</p>
                            </div>
                            <div class="col">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-question-circle"></i></div>
                                <div class="h5">Support center</div>
                                <p class="text-muted mb-0">Browse FAQ's and support
                                    articles to find solutions.</p>
                            </div>
                            <div class="col">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-telephone"></i></div>
                                <div class="h5">Call us</div>
                                <p class="text-muted mb-0">Call us during normal
                                    business hours at (555) 892-9403.</p>
                            </div>
                        </div>
                    </div>
                </section>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
    </body>

</html>